html, body, ul, li, ol,figure,figcaption,dl, dd, dt, p, h1, h2, h3, h4,form, i,img,span,b,strong{ margin:0; padding:0;} 
img {display: block; border:none; } 
address, caption,i,b,h2{ font-style:normal; font-weight:normal; } 
ul, ol { list-style:none; } 

body,html {height:100%; width:100%;	font-family:"microsoft yahei"; background:#fff;}
a { color:#666; text-decoration:none; }
body{font-size:0.16rem;}
.swiper-container {
	width: 100%;
    height: 100%;
	background:#ccc; 
}  

.swiper-slide{
	width:100%;
	height:100%;	
	background-size:100% 100%;
}
.off{height:0.3rem;width:0.3rem;position:absolute;z-index:200;top:0.3rem;right:0.2rem;border-radius:50%;}
.rotate{-webkit-animation: cir 1s linear  infinite ;
-o-animation: cir 1s linear  infinite ;
animation: cir 1s linear  infinite ; }
.off img{width:100%;height:100%;}
/* 音乐动画 */
@-webkit-keyframes cir{
	from{-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);}
	to{-webkit-transform: rotate(360deg);-o-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}
}
@-moz-keyframes cir{
	from{-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);}
	to{-webkit-transform: rotate(360deg);-o-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}
}

.swiper-wrapper >div:nth-of-type(1){
	background: url(../img/bg1.jpg) 0 0 no-repeat;
	background-size:cover;

}
.swiper-wrapper div:nth-of-type(1) >.me-ge{ height:2.0rem; line-height:2.0rem;position:relative;}
.swiper-wrapper div:nth-of-type(1) .me-ge h2{
font-size:0.3rem;color:orange;font-weight:normal;width:100%;text-align:center;position:absolute;top:0rem;}
.swiper-wrapper div:nth-of-type(1) div:nth-of-type(2){width:100%; height:2.0rem;  position:relative;padding-bottom: 0.3rem;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.swiper-wrapper div:nth-of-type(1) div:nth-of-type(2) div{position:absolute;left:50%;margin-left:-0.75rem; height:1.5rem;width:1.5rem;border-radius:50%;background: #fff;}
.swiper-wrapper div:nth-of-type(1) div:nth-of-type(2) div div{

animation: scale .5s ease-in-out  1 ; */
 overflow:hidden; height:1.3rem;width:1.3rem;position:absolute;left:50%;margin-left:-0.65rem; border-radius:50%;background:url(../img/cheng.jpg) -0.3rem 0 no-repeat ;background-size:cover;top:0.1rem;}

/* welcome样式设置 */
.swiper-wrapper div:nth-of-type(1) div:nth-of-type(3){ height:0.4rem;line-height:0.4rem; width:100%;position:relative;background:rgba(255,255,255,.3);}
.swiper-wrapper div:nth-of-type(1) div:nth-of-type(3) span{
position:absolute; width:100%; font-size:0.16rem;color:yellow;text-align:center;}


.footer{position:absolute;bottom:0;left:0; width:100%; height:0.6rem; line-height:1rem;}
.footer span{position:absolute;
	-webkit-animation: up 1s linear  infinite ;
-o-animation: up 1s linear  infinite ;
animation: up 1s linear  infinite ;
	display:block;margin-top:10%; height:0.33rem;left:50%;margin-left: -0.125rem; width:0.25rem;background:url(../img/arrow.png) no-repeat left top;background-size:contain;}



/*  箭头动画效果  */
@-webkit-keyframes up{
	from{margin-top:11%;opacity:1;}
	to{margin-top:8%;opacity:0;}
}
@-moz-keyframes up{
	from{margin-top:11%;opacity:1;}
	to{margin-top:8%;opacity:0;}
}  

/* 第二个页面 */
.swiper-wrapper >div:nth-of-type(2){
	background: url(../img/bg2.jpg) 0 0 no-repeat;
	background-size:cover;

}

.username{font-size:0.24rem;color:#fff;position:absolute;top:0.6rem;left:0.4rem;letter-spacing:0.02rem;}

.logo-self{height:1rem;width:0.8rem;position:absolute;left:50%;margin-left:0.15rem;top:0.6rem;}
.logo-self img{height:100%;width:140%;}
.contact{-webkit-border-radius:10px;border-radius:10px;font-size:0.14rem;color:#fff;position:absolute;top:1.0rem;left:0.4rem;height:0.38rem;line-height:0.38rem;width:1rem;background:rgba(255,255,255,.2);}
.provice,.political,.age,.school,.hobby,.work{font-size:0.14rem;color:#fff;position:absolute;left:50%;margin-left:-1.25rem;height:0.38rem;line-height:0.38rem;width:2.5rem;background:rgba(255,255,255,.2);-webkit-border-radius:10px;border-radius:10px;}
.swiper-slide >.age{font-size:12px;}
.provice{top:1.85rem;}
.political{top:2.3rem;}
.age{top:2.75rem;}
.school{top:3.2rem;}
.hobby{top:3.65rem;}
.work{top:4.1rem;}

/* 第三个页面 */
.swiper-wrapper >div:nth-of-type(3){
	background: url(../img/bg3.jpg) 0 0 no-repeat;
	background-size:cover;

}
.tuandui-1{font-weight:bold;font-size:0.5rem; color:rgb(182, 27, 82);position:absolute;top:0.17rem;left:0.45rem;}
.tuandui-2{width:1.46rem;
			height:1rem;
			border:4px solid rgba(255,255,255,.8);
			background:rgba(255,255,255,.5);
			padding:4px;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			-o-box-sizing:border-box;
			-webkit-box-shadow:0px 0px 5px grey,
			0px 0px 6px grey inset;
			-moz-box-shadow:0px 0px 5px grey,
			0px 0px 6px grey inset;
			-o-box-shadow:0px 0px 5px grey,
			0px 0px 6px grey inset;
			position:absolute;
			right:0.1rem;
			top:0.2rem;

	}
.tuandui-2 img{height:100%;width:100%;}

.tuandui-3{width:1.46rem;
		height:1rem;
		border:4px solid rgba(255,255,255,.8);
		background:rgba(255,255,255,.5);
		padding:4px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-webkit-box-shadow:0px 0px 5px grey,
		0px 0px 6px grey inset;
		-moz-box-shadow:0px 0px 5px grey,
		0px 0px 6px grey inset;
		-o-box-shadow:0px 0px 5px grey,
		0px 0px 6px grey inset;
		position:absolute;
		left:0.1rem;
		top:1.2rem;

	}
.tuandui-3 img{height:100%;width:100%;}

.tuandui-4{font-size:0.5rem; color:rgb(0, 0, 0);position:absolute;top:1.3rem;right:0.8rem;}
.tuandui-5{font-weight:bold;font-size:0.5rem; color: rgb(34, 88, 1);position:absolute;top:2.4rem;left:0.45rem;}
.tuandui-6{width:1.46rem;
		height:1rem;
		border:4px solid rgba(255,255,255,.8);
		background:rgba(255,255,255,.5);
		padding:4px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-webkit-box-shadow:0px 0px 5px grey,
		0px 0px 6px grey inset;
		-moz-box-shadow:0px 0px 5px grey,
		0px 0px 6px grey inset;
		-o-box-shadow:0px 0px 5px grey,
		0px 0px 6px grey inset;
		position:absolute;
		right:0.1rem;
		top:2.3rem;

	}
.tuandui-6 img{height:100%;width:100%;}

.tuandui-7{width:1.46rem;
		height:1rem;
		border:4px solid rgba(255,255,255,.8);
		background:rgba(255,255,255,.5);
		padding:4px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-webkit-box-shadow:0px 0px 5px grey,
		0px 0px 6px grey inset;
		-moz-box-shadow:0px 0px 5px grey,
		0px 0px 6px grey inset;
		-o-box-shadow:0px 0px 5px grey,
		0px 0px 6px grey inset;
		position:absolute;
		left:0.1rem;
		top:3.4rem;

	}
.tuandui-7 img{height:100%;width:100%;}
.tuandui-8{font-size:0.5rem; color: rgb(12, 82, 158);position:absolute;top:3.5rem;right:0.8rem;}

/* 第四个页面 */
.swiper-wrapper >div:nth-of-type(4) >.me-main{
	height:100%;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	padding:0.3rem;

}
.swiper-wrapper >div:nth-of-type(4) >.me-main .person-me{height:0.64rem;font-size:0.26rem;line-height:0.64rem;}
.swiper-wrapper >div:nth-of-type(4) >.me-main .me-content{padding-bottom:0; height:0.8rem;font-size:0.12rem;line-height:0.26rem;text-indent:0.16rem;color:#666;}
.swiper-wrapper >div:nth-of-type(4) >.me-main .expect-work{height:0.64rem;font-size:0.26rem;line-height:0.64rem;background:none;}
.swiper-wrapper >div:nth-of-type(4) >.me-main .ework-list{height:100%;width:100%; position:relative;}

.swiper-wrapper >div:nth-of-type(4) >.me-main .ework-list div{

	position:absolute;width:0.9rem;height:0.6rem;

}
.swiper-wrapper >div:nth-of-type(4) >.me-main .ework-list div img{
	height:100%;width:100%;
}
.swiper-wrapper >div:nth-of-type(4) >.me-main .ework-list div:nth-of-type(2){
	top:0.45rem;width:0.9rem;height:0.6rem;padding-bottom:0;

}

.swiper-wrapper >div:nth-of-type(4) >.me-main .ework-list div:nth-of-type(3){
	top:0.95rem;width:0.9rem;height:0.6rem;

}

.swiper-wrapper >div:nth-of-type(4) >.me-main .ework-list div:nth-of-type(4){
	top:1.5rem;width:0.9rem;height:0.5rem;

}


.swiper-wrapper >div:nth-of-type(4) >.me-main .ework-list ul{
	position:absolute;
	left:1.26rem;
}
.swiper-wrapper >div:nth-of-type(4) >.me-main .ework-list ul li{
	font-size:12px;font-weight:normal;height:0.2rem;line-height:0.2rem;
	
}
.swiper-wrapper >div:nth-of-type(4) >.me-main .ework-list ul li:nth-of-type(odd){
	color:orange;margin-left: 0.1rem;
}
.swiper-wrapper >div:nth-of-type(4) >.me-main .ework-list ul li:nth-of-type(even){
	margin-bottom: 0.1rem;text-align:center;
}




/* 第五个页面 */

.swiper-wrapper >div:nth-of-type(5){
	background: url(../img/bg5.jpg) 0 0 no-repeat;
	background-size:cover;
}
.swiper-wrapper >div:nth-of-type(5) .me-good{
	-webkit-transform: rotate(-16deg);-moz-transform: rotate(-16deg);transform: rotate(-16deg);-o-transform: rotate(-16deg);
}
.swiper-wrapper >div:nth-of-type(5) .me-good .mgyou{
	position:absolute;right:0.9rem;top:0.6rem;
	height:0.4rem;width:1.6rem;background:yellow;
	border-radius:0.1rem;font-size:0.22rem;
	line-height:0.4rem;text-align:center;
	z-index:20;
}
.swiper-wrapper >div:nth-of-type(5) .me-good .mgbottm{background:rgba(239,142,17,.5); z-index:10;right:0.8rem;top:0.7rem;}
.swiper-wrapper >div:nth-of-type(5) .line-yellow{-webkit-transform: rotate(-16deg);-moz-transform: rotate(-16deg);transform: rotate(-16deg);-o-transform: rotate(-16deg);height:0.01rem;width:4.5rem;background:yellow;}
.swiper-wrapper >div:nth-of-type(5) .linYellow1{position:absolute;right:-1.7rem;top:1.05rem;}
.swiper-wrapper >div:nth-of-type(5) .linYellow2{position:absolute;right:-2.4rem;top:1.08rem;}
.swiper-wrapper >div:nth-of-type(5) .linYellow3{position:absolute;left:-0.1rem;top:2.86rem;}
.swiper-wrapper >div:nth-of-type(5) .sanjiao{position:absolute;
	
	height:0.9rem;width:0.9rem;-webkit-transform: rotate(-16deg);-moz-transform: rotate(-16deg);transform: rotate(-16deg);-o-transform: rotate(-16deg);top:2.51rem;
}
.swiper-wrapper >div:nth-of-type(5) .sanjiao img{height:100%;width:100%;}
.swiper-wrapper >div:nth-of-type(5) .SJiao1{left: 1.0rem;top: 2.22rem;}
.swiper-wrapper >div:nth-of-type(5) .SJiao2{left: 2.0rem;top: 1.93rem;}
.swiper-wrapper >div:nth-of-type(5) .sanjiao span{color: #fff;font-size: 0.20rem;position: absolute;top:0.55rem;
	left:0.25rem; }
.swiper-wrapper >div:nth-of-type(5) .first-hobby{color:rgba(255,255,255,.5);-webkit-transform: rotate(-16deg);-moz-transform: rotate(-16deg);transform: rotate(-16deg);-o-transform: rotate(-16deg);position: absolute;font-size: 0.12rem; top: 3.14rem;line-height: 0.16rem;}
.swiper-wrapper >div:nth-of-type(5) .firstHb2{top: 3.48rem;left: 0.05rem;}
.swiper-wrapper >div:nth-of-type(5) .firstHb3{top: 3.82rem;left: 0.1rem;}

/* 第六个页面，我的专业技能 */
.swiper-wrapper >div:nth-of-type(6){background:url(../img/777.jpg) no-repeat left top;background-size:cover;}
 .meMain-1{height:100%;width:100%;}
.personMe{height:0.3rem;width:2rem;position:absolute;left:50%;margin-left: -1rem;font-size:30px;top:0.14rem;color:#fff;}
.eworkList{margin-top:0.6rem;}
.eworkList ul li{font-size:12px;color:#000;padding:0 20px;margin:6px 0;}


/* 第六个页面，我的demo1 */
.swiper-wrapper >div:nth-of-type(7){background:url(../img/demo1.png) no-repeat left top;background-size:cover;}


/* 第六个页面，我的demo2 */
.swiper-wrapper >div:nth-of-type(8){background:url(../img/demo2.jpg) no-repeat left top;background-size:cover;}


/* 第六个页面，我的demo3 */
.swiper-wrapper >div:nth-of-type(9){background:url(../img/demo3.png) no-repeat left top;background-size:cover;}

.swiper-slide .myDemo h2{ padding:0.1rem 0.2rem; width:2.6rem;font-size:20px; color:#fff;margin:0 auto 10px;}
.swiper-slide .myDemo h2 span{font-size:14px; color:#fff;}

.swiper-slide .myDemo{margin: 60px auto 0;width:3rem;background:rgba(0,0,0,0.5);border-radius:10px;-webkit-border-radius:10px;}

.swiper-slide .myDemo .demoContent h2{color:#fff;}
.swiper-slide .myDemo .demoContent h2 span{color:#fff;}

/* 第十个页面++ */

.swiper-wrapper >div:nth-of-type(10){
	background: url(../img/bg66.png) 0 0 no-repeat;
	background-size:cover;

}

.swiper-wrapper >div:nth-of-type(10) .my-work{color:#fff;width:2.12rem;position:absolute;left:50%;margin-left:-1.06rem;text-align:center; top:0.25rem;}
.swiper-wrapper >div:nth-of-type(10) .cir-small{position:absolute;width:0.5rem;height:0.5rem;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;
    -webkit-animation: scale 2s  ease infinite;
    -moz-animation: scale 2s  ease infinite;
    -o-animation: scale 2s  ease infinite;
    animation: scale 2s  ease infinite;
	background:rgba(35,215,162,0.4);}
.swiper-wrapper >div:nth-of-type(10)   .cir-big{position:absolute;width:0.7rem;
   -webkit-animation: scale 2s  ease infinite;
    -moz-animation: scale 2s  ease infinite;
    -o-animation: scale 2s  ease infinite;
    animation: scale 2s  ease infinite;
	height:0.7rem;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;background:rgba(35,215,162,0.4);}

.swiper-wrapper >div:nth-of-type(10) .cirSmall1{left:1.25rem;top:0.36rem;}
.swiper-wrapper >div:nth-of-type(10) .cirSmall2{right:0.25rem;top:0.4rem;}
.swiper-wrapper >div:nth-of-type(10) .cirSmall3{left:0.29rem;top:0.3rem;}
.swiper-wrapper >div:nth-of-type(10) .cirSmall4{left:0.5rem;top:3.6rem;}
.swiper-wrapper >div:nth-of-type(10) .cirBig1{left:0.5rem;top:2.9rem;z-index:100;}
.swiper-wrapper >div:nth-of-type(10) .cirBig2{right:0.5rem;top:2.9rem;z-index:100;}

/* 头像动画效果 */
@-webkit-keyframes scale{
	from{-webkit-transform: scale(0, 0);-moz-transform: scale(0, 0);-o-transform: scale(0, 0);transform: scale(0, 0);opacity:0.3;}
	to{-webkit-transform: scale(1, 1);-moz-transform: scale(1, 1);-o-transform: scale(1, 1);transform: scale(1, 1);opacity:1;}
}
@-moz-keyframes scale{
	from{-webkit-transform: scale(0, 0);-moz-transform: scale(0, 0);-o-transform: scale(0, 0);transform: scale(0, 0);opacity:0.3;}
	to{-webkit-transform: scale(1, 1);-moz-transform: scale(1, 1);-o-transform: scale(1, 1);transform: scale(1, 1);opacity:1;}
}

.swiper-wrapper >div:nth-of-type(10) .myProduction{-webkit-box-sizing:border-box;
	box-shadow:0px 0px 5px 5px #888;
	-webkit-box-shadow:0px 0px 5px 5px #888;
	-moz-box-shadow:0px 0px 5px 5px #888;
	-o-box-shadow:0px 0px 5px 5px #888;
	padding:0.1rem;position:absolute;height:3.0rem;width:2.6rem;
	left:50%;margin-left:-1.3rem;top:1.2rem;border-radius:0.2rem;background: #fff;}
.swiper-wrapper >div:nth-of-type(10) .myProduction img{height:100%;width:100%;}
.swiper-wrapper >div:nth-of-type(10) .my-p1{top:0.7rem;}
.swiper-wrapper >div:nth-of-type(10) .my-p2{top:0.9rem;}
.swiper-wrapper >div:nth-of-type(10) .my-p3{top:1.1rem;}




/* 第十一个页面 */

.swiper-wrapper >div:nth-of-type(11){
	background: url(../img/bg6.png) 0 0 no-repeat;
	background-size:cover;

}

.swiper-wrapper >div:nth-of-type(11) .bg-white{width:2.75rem;height:4.0rem;border-radius:0.2rem;background: #fff;position:absolute;margin:auto;left:0;top:0.3rem;right:0;
	-webkit-box-shadow:0px 0px 10px 2px #888 ;
	-moz-box-shadow:0px 0px 10px 2px #888 ;
	-o-box-shadow:0px 0px 10px 2px #888 ;
	box-shadow:0px 0px 10px 2px #888 ;
}
.swiper-wrapper >div:nth-of-type(11) .bg-white .cir-wrap{ width:1rem;height:1rem;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;border:1px solid #ccc;position:absolute;left:50%;margin-left:-0.5rem;margin-top:0.28rem;}
.swiper-wrapper >div:nth-of-type(11) .bg-white .cir-wrap .cir-inner{width:0.91rem;background:red; height:0.9rem;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;position:absolute;left:50%;margin-left:-0.45rem;margin-top:0.05rem;}
.swiper-wrapper >div:nth-of-type(11) .bg-white .cir-wrap .cir-inner img{height:100%;width:100%;border-radius:50%;}
.swiper-wrapper >div:nth-of-type(11) .bg-white .con-text{font-size:0.24rem;position:absolute;top:1.56rem;color:#333;width:100%;text-align:center;}
.swiper-wrapper >div:nth-of-type(11) .bg-white .line-con{ width:2.4rem;overflow:hidden;position:absolute;left:50%;margin-left: -1.2rem;top:1.8rem;height:0.8rem;}
.swiper-wrapper >div:nth-of-type(11) .bg-white .line-con img{height:100%;width:100%;}
.swiper-wrapper >div:nth-of-type(11) .bg-white .sao{height:1.35rem;width:1.35rem;border:1px solid #888;position:absolute;-webkit-box-shadow:0px 0px 2px 2px #888 ;
	-moz-box-shadow:0px 0px 2px 2px #888 ;
	-o-box-shadow:0px 0px 2px 2px #888 ;
	box-shadow:0px 0px 2px 2px #888 ;top:2.22rem;left:50%;margin-left:-0.67rem;}
.swiper-wrapper >div:nth-of-type(11) .bg-white .sao img{height:100%;width:100%;}
.swiper-wrapper >div:nth-of-type(11) .bg-white .sao-text{font-size:0.16rem;position:absolute;bottom:0.2rem;color:#676767;text-align:center;width:100%;}



/* 第十二个页面 */
.swiper-wrapper >div:nth-of-type(12){
	background: url(../img/bg7.jpg) 0 0 no-repeat;
	background-size:cover;
}

.swiper-wrapper >div:nth-of-type(12) .con-text{position:absolute;top:1.56rem;color:#333;width:100%;text-align:center;}
.swiper-wrapper >div:nth-of-type(12) .line-con{ width:2.4rem;overflow:hidden;position:absolute;left:50%;margin-left: -1.2rem;top:1.8rem;height:0.8rem;}
.swiper-wrapper >div:nth-of-type(12) .line-con img{height:100%;width:100%;}
.swiper-wrapper >div:nth-of-type(12) .sao{height:1.35rem;width:1.36rem;border:1px solid #888;position:absolute;-webkit-box-shadow:0px 0px 2px 2px #888;-moz-box-shadow:0px 0px 2px 2px #888 ;
	-o-box-shadow:0px 0px 2px 2px #888 ;
	box-shadow:0px 0px 2px 2px #888 ;top:2.22rem;left:50%;margin-left:-0.68rem;}
.swiper-wrapper >div:nth-of-type(12) .sao img{height:100%;width:100%;}
.swiper-wrapper >div:nth-of-type(12) .contxt{font-size:0.2rem;font-weight:bold;color:#404449;}
.swiper-wrapper >div:nth-of-type(12) .lineCon{margin-top:-0.2rem;}




























